body {
  font-size: 20px;
}

header {
  background-color: #a1c2e1;
  padding: 10px;
}

main {
  background-color: wheat;
  padding: 10px;
}

footer {
  background-color: antiquewhite;
  height: 200px;
  padding: 10px;
}

h1 {
  color: white;
}

h2,
h3,
a {
  color: darkslateblue;
}

/* das gleiche wie oben */
/* h2 {
  color: darkslateblue:
}

h3 {
  color: darkslateblue;
}

a {
  color: darkslateblue;
} */

img {
  width: 300px;
}

/* span {
  color: blue;
} */

/* Klassenselektoren */

.blue {
  color: blue;
}

.white {
  color: white;
}

.red {
  color: red;
}

/* ID Selektor */

#arbeitsanweisungen {
  font-size: 40px;
}