body {
  font-size: 18px;
  font-family: sans-serif;
}

header {
  background: #c5ee9f;
  padding: 20px;
  color: #003362;
}

h1 {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: auto;
}




/* Stufenförmig */
ul li > strong {
  background: red;
}






















































/* Spezifität */

div {
  background-color: aqua;
  font-style: italic;
}

.red {
  background-color: red;
}

#blue {
  background-color: blue;
}

div {
  background-color: green;
}




























/* Box Modell */
* {
  /* border: 1px solid red !important; */
  box-sizing: border-box;
}

.boxmodell {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  /* margin: 100px 50px; */
  padding: 50px 50px 10px 10px;
  border: 5px dashed goldenrod;
  width: 500px;
  height: 100px;
}
